html, body{
    margin: 0px;
    padding: 0px;
}

/* navigation bar styling */

.nav{
    background-color: rgb(72, 83, 66);
    color: aliceblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
}

.nav ul{
    margin: 0;
}

.nav ul li{
    display: inline-block;
    padding: 15px 50px 25px 0;
    position: relative; 
}

.logo{
    font-family: "Tinos", serif;
    font-size: 32px;
    font-weight: 900;
}

.first{
    margin-left: 570px;
}

.nav ul li:not(.logo){
    font-family: Cambria, Georgia, serif;
    font-size: 15px;
}

.dropdown{
    cursor: pointer;
}

.nav ul li .logo:hover,
.nav ul li .first:hover,
.nav ul li .dropdown:hover,
.nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 45px;
    background-color:rgb(72, 83, 66);
    list-style: none;
    padding: 3px; 
    width: 120px;
}

.dropdown-menu li a{
    display: block;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.dropdown-menu li a:hover{
    text-decoration: underline;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* pricing page 1 */

.pricing-pg1{
    position: relative;
    height: 700px;
    width: 100%;
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/poveda6u7yb/CHOOSE_BALI-AE0zD7zeK4cgbw0M.png");
    background-size: contain;
    background-size: 1400px 700px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
}

.pricing-pg1 .head1{
    margin: 0px;
    position: absolute;
    top: 200px;
    left: 150px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-transform: uppercase;
}

.pricing-pg1 .head2{
    margin: 0px;
    position: absolute;
    top: 280px;
    left: 150px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 105px;
    text-transform: uppercase;
    font-weight: 900;
}

/* pricing pg2 styling */

.pricing-pg2{
    position: relative;
    height: 400px;
    width: 100%;
    background-color:  hsl(135, 6%, 74%);
}

.pricing-pg2 .head1{
    position: absolute;
    color:  rgb(72, 83, 66);
    top: 80px;
    text-align: center;
    left: 10px;
    right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.pricing-pg2 .para1{
    position: absolute;
    top: 200px;
    text-align: center;
    left: 300px;
    right: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:  rgb(72, 83, 66);
    line-height: 25px;
}

/* pricing page3 styling */
.pricing-pg3{
    position: relative;
    height: 340px;
    width: 100%;
    background-color: rgb(72, 83, 66);
}


.pricing-pg3 .h2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}


.pricing-pg3 .para1{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    right: 700px;
    color: white;
    line-height: 25px;
    text-align: left;
}

.pricing-pg3 .b1
{
    position: relative;
    height: 40px;
    width: 180px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    word-spacing: 9px;
    letter-spacing: 2px;
    top: 270px;
    left: 120px;
}

.pricing-pg3 .b1:hover{
    cursor: pointer;
    filter: brightness(20%);
}

.pricing-pg3 .right1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 150px;
    color: white;
    left: 850px;
    text-transform: uppercase;
}

.pricing-pg3 .price{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    top: 50px;
    color: white;
    left: 959px;
    text-transform: uppercase;
}

/* pricing page 4 styling */

.pricing-pg4{
    position: relative;
    height: 340px;
    width: 100%;
    background-color: hsl(135, 6%, 74%);
}


.pricing-pg4 .h2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(72, 83, 66);
}


.pricing-pg4 .para1{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    right: 700px;
    color:  rgb(72, 83, 66);
    line-height: 25px;
    text-align: left;
}

.pricing-pg4 .b1
{
    position: relative;
    height: 40px;
    width: 180px;
    background-color: transparent;
    border: 2px solid rgb(72, 83, 66);;
    color: rgb(72, 83, 66);
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    word-spacing: 9px;
    letter-spacing: 2px;
    top: 270px;
    left: 120px;
}

.pricing-pg4 .b1:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.pricing-pg4 .right1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 150px;
    color:  rgb(72, 83, 66);
    left: 850px;
    text-transform: uppercase;
}

.pricing-pg4 .price{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    top: 50px;
    color:  rgb(72, 83, 66);
    left: 959px;
    text-transform: uppercase;
}

/* pricing pg5 styling */

.pricing-pg5{
    position: relative;
    height: 340px;
    width: 100%;
    background-color: rgb(72, 83, 66);
}


.pricing-pg5 .h2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}


.pricing-pg5 .para1{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    right: 700px;
    color: white;
    line-height: 25px;
    text-align: left;
}

.pricing-pg5 .b1
{
    position: relative;
    height: 40px;
    width: 180px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    word-spacing: 9px;
    letter-spacing: 2px;
    top: 270px;
    left: 120px;
}

.pricing-pg5 .b1:hover{
    cursor: pointer;
    filter: brightness(20%);
}

.pricing-pg5 .right1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 150px;
    color: white;
    left: 850px;
    text-transform: uppercase;
}

.pricing-pg5 .price{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    top: 50px;
    color: white;
    left: 959px;
    text-transform: uppercase;
}

/* pricing page  6styling */

.pricing-pg6{
    position: relative;
    height: 340px;
    width: 100%;
    background-color: hsl(135, 6%, 74%);
}


.pricing-pg6 .h2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(72, 83, 66);
}


.pricing-pg6 .para1{
    position: absolute;
    top: 140px;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    right: 700px;
    color:  rgb(72, 83, 66);
    line-height: 25px;
    text-align: left;
}

.pricing-pg6 .b1
{
    position: relative;
    height: 40px;
    width: 180px;
    background-color: transparent;
    border: 2px solid rgb(72, 83, 66);;
    color: rgb(72, 83, 66);
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    word-spacing: 9px;
    letter-spacing: 2px;
    top: 270px;
    left: 120px;
}

.pricing-pg6 .b1:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.pricing-pg6 .right1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 150px;
    color:  rgb(72, 83, 66);
    left: 850px;
    text-transform: uppercase;
}

.pricing-pg6 .price{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    top: 50px;
    color:  rgb(72, 83, 66);
    left: 959px;
    text-transform: uppercase;
}

/* pricing page 7 styling */
.pricing-pg7{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: rgb(47, 58, 41);
}

.pricing-pg7 .h1{
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}

.pricing-pg7 .para1{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    right: 700px;
    color: white;
    line-height: 25px;
    text-align: left;
}

.pricing-pg7 [for="name"]{
    position: absolute;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 100px;
    color: white;
    left: 700px;
}

.pricing-pg7 #name{
    position: absolute;
    height: 35px;
    width: 500px;
    top: 130px;
    left: 700px;
     background-color: hsl(135, 6%, 74%);
}

.pricing-pg7 [for="last_name"]{
    position: absolute;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 180px;
    color: white;
    left: 700px;
}

.pricing-pg7 #last_name{
    position: absolute;
    height: 35px;
    width: 500px;
    top: 210px;
    left: 700px;
    background-color: hsl(135, 6%, 74%);
}

.pricing-pg7 [for="email"]{
    position: absolute;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 260px;
    color: white;
    left: 700px;
}

.pricing-pg7 #email{
    position: absolute;
    height: 35px;
    width: 500px;
    top: 290px;
    left: 700px;
    background-color: hsl(135, 6%, 74%);
}

.pricing-pg7 [for="text"]{
    position: absolute;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 340px;
    color: white;
    left: 700px;
}

.pricing-pg7 #text{
    position: absolute;
    height: 110px;
    width: 500px;
    top: 370px;
    left: 700px;
    background-color: hsl(135, 6%, 74%);
}

.pricing-pg7 #name:hover,
.pricing-pg7 #last_name:hover,
.pricing-pg7 #email:hover,
.pricing-pg7 #text:hover{
    background-color: aliceblue;
}

.pricing-pg7 .b1
{
    position: relative;
    height: 40px;
    width: 180px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    word-spacing: 9px;
    letter-spacing: 2px;
    top: 540px;
    left: 700px;
}

.pricing-pg7 .b1:hover{
    cursor: pointer;
    filter: brightness(20%);
}

/* pricing page 8 styling */

.pricing-pg8{
    position: relative;
    height: 400px;
    width: 100%;
    background-color:  rgb(72, 83, 66);
}

.pricing-pg8 .head1{
    position: absolute;
    color: white;
    top: 60px;
    left: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.pricing-pg8 .para1{
    position: absolute;
    top: 170px;
    left: 330px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    right: 300px;
    color: white;
    line-height: 25px;
    text-align: center;
}

.pricing-pg8 .by{
    position: absolute;
    top: 305px;
    left: 350px;
    right: 300px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15.5px;
    text-align: center;
}

/* pricing page 9 styling */

.pricing-pg9{
    position: relative;
    height: 300px;
    width: 100%;
    background-color:rgb(219, 226, 221);
}

.pricing-pg9 .logo{
    position: absolute;
    color: rgb(72, 83, 66);
    top: 80px;
    left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-transform: uppercase;
}

.pricing-pg9 ul{
    position: absolute;
    list-style: none;
    color: rgb(72, 83, 66);
    top: 90px;
    left: 700px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.pricing-pg9 li{
    margin-bottom: 25px;
}

.pricing-pg9 li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.pricing-pg9 .mail{
    position: absolute;
    left: 1000px;
    top: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: rgb(72, 83, 66);
    
}

.pricing-pg9 .mobile{
    position: absolute;
    left: 1000px;
    top: 160px;
    font-size: 14px;
    color: rgb(72, 83, 66);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pricing-pg9 .insta{
    position: absolute;
    height: 23px;
    width: 23px;
    top: 210px;
    left: 1080px;
}
.pricing-pg9 .whatsapp{
    position: absolute;
    height: 18px;
    width: 18px;
    top: 212px;
    left: 1040px;
}
.pricing-pg9 .twitter{
    position: absolute;
    height: 23.5px;
    width: 23.5px;
    top: 210px;
    left: 1000px;
}

.pricing-pg9 .insta:hover,
.pricing-pg9 .whatsapp:hover,
.pricing-pg9 .twitter:hover{
    cursor: pointer;
    filter: brightness(50%);
    
}